<div class="newnesses">
  <div class="container">

    <div class="group-title col-12">
      <h1 class="title col-12 pl-0 scroll-reveal-100 d-inline-block animated fadeInDown">Novedades</h1>
      <img class="pb-1 d-none" src="/assets/img/line-box-2.png">
      <div class="clearfix"></div>
    </div>

    <div class="col-12 pt-3 pb-4">
      <a [routerLink]="['/novedades']" type="button" class="btn btn-sm btn-outline-info">Ver más novedades <i class="fas fa-arrow-right ml-2"></i></a>
    </div>

    <<!-- div class="col-md-4 newness">
      <upso-news-card></upso-news-card>
    </div>
    <div class="col-md-4 newness">
      <upso-news-card></upso-news-card>
    </div>
    <div class="col-md-4 newness">
      <upso-news-card></upso-news-card>
    </div>
 -->

  </div>
</div>
