<div class="div-tabla table-responsive">
  <input class="filtro" type="text" placeholder="filtro" (input)="filtrar($event)"
    placeholder="Filtrar por nombre..." />

  <upso-form-news [title]="'Crear Novedad'" (updateTable)="insertElement($event)"></upso-form-news>

  <table class="table table-hover fixed text-center">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="news.length > 0; then thenBlock; else elseBlock"></div>

      <ng-template #thenBlock>
        <tr *ngFor=" let newsItem of news  | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
          <td>{{ newsItem.titulo }}</td>
          <td>{{ newsItem.created_at | date:'d/MM/yy H:m'}}</td>
          <td>
            <upso-form-news [title]="'Editar novedad'" [newsItem]="newsItem" (updateTable)="updateElement($event)"></upso-form-news>
            <upso-delete-news [newsItem]="newsItem" (updateTable)="deleteElement($event)"></upso-delete-news>
          </td>
        </tr>
      </ng-template>
      <ng-template #elseBlock>
        <tr>
          <td class="no-data" colspan="3">No existen novedades</td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <pagination-controls class="pagination" (pageChange)="currentPage = $event" autoHide="true" responsive="true"
    directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" maxSize="6"></pagination-controls>
</div>
