<a *ngIf="investigator && investigator.id!==0" type="button" title="Información" class="text-info ml-2" data-toggle="modal"
  [attr.data-target]="'#modalInfoInvestigators-'+investigator.id">
  <i class="fal fa-info-circle"></i>
</a>

<!-- Modal -->
<div *ngIf="investigator" class="modal fade modal-width" [attr.id]="'modalInfoInvestigators-'+investigator.id" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Información</h5>
        <button #closebutton type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #productForm="ngForm">
        <div class="modal-body text-left">

          <p><b>Nombre</b>: {{investigator.nombre}}</p>

          <p><b>Título</b>: {{investigator.titulo}}</p>

          <p><b>Email</b>: {{ (investigator.mail) ? investigator.mail : '-'}}</p>

          <p><b>LinkedIn</b>: {{ (investigator.linkedin) ? investigator.linkedin : '-'}}</p>

          <p><b>Página web</b>: {{ (investigator.pagina) ? investigator.pagina : '-'}}</p>

          <p><b>Imagen</b>: </p>
          <p class="col-md-6 pl-0"><img class="col-12 pl-0" [src]="urlStorage + 'investigators/' + investigator.imagen" /></p>

          <p><b>Descripción</b>: </p>
          <div class="col-12 bg-light p-2 pb-0" [innerHTML]="investigator.descripcion | noSanitize"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
