<button class="btn btn-info col-12" data-toggle="modal" data-target="#exampleModalCenter">
  <span class="mr-2"><i class="fad fa-download"></i></span>
  <span>Descargar publicación</span>
</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Descargar Publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <form *ngIf="!success">
          <div class="form-group">
            <div class="form-group">
              <label for="inputNombre">Nombre</label>
              <input type="text" class="form-control" id="inputNombre"  name="nombre" #nombre="ngModel" [(ngModel)]="paperDownload.nombre">
            </div>
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" #email="ngModel" [(ngModel)]="paperDownload.email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="inputNacimiento">Fecha nacimiento</label>
            <input type="date" class="form-control" id="inputNacimiento" name="nacimiento" #nacimiento="ngModel" [(ngModel)]="paperDownload.nacimiento">
          </div>
          <div class="form-group">
            <label for="inputProfesion">Profesión</label>
            <input type="text" class="form-control" id="inputProfesion" name="profesion" #profesion="ngModel" [(ngModel)]="paperDownload.profesion">
          </div>
        </form>
        <div class="alert alert-info" *ngIf="success">
          Si no fue redireccionado a la publicación, haga clic <a [href]="paper.pdf" target="_blank">aca</a>
        </div>
        <div class="form-row">

          <div *ngIf="errores" class="errores col-12">
            <div class="alert alert-danger" *ngFor="let error of errores">{{error}}</div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dummy()">Cerrar</button>
        <button *ngIf="!success" type="button" class="btn btn-primary" (click)="confirmar()">
          <span class="mr-2" *ngIf="loading"><i class="fas fa-spinner-third fa-spin"></i></span>
          <span>Confirmar</span>
        </button>
      </div>
    </div>
  </div>
</div>
