<div class="div-tabla table-responsive">
  <upso-filter
    [list]="comments"
    [keys]="keys"
    (newList)="commentsFilter = $event"
  >
  </upso-filter>

  <table class="table table-hover fixed text-center text-dark">
    <thead>
      <tr>
        <th scope="col" class="column-sm">id</th>
        <th class="text-left">Nombre</th>
        <th class="text-left">Publicación</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="comments.length > 0; then thenBlock; else elseBlock"></div>

      <ng-template #thenBlock>
        <tr *ngFor=" let comment of commentsFilter  | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
          <th scope="col" class="text-info column-sm"><b>{{ comment.id }}</b></th>
          <td class="text-left">{{ comment.nombre }}</td>
          <td class="text-left">
            {{ comment.paper.titulo
                  .split(' ')
                  .slice(
                    0, (comment.paper.titulo.split(' ').length>5) ? 5 : comment.paper.titulo.split(' ')
                  )
                  .join(' ')
                  + '...'
            }}
          </td>
          <td>{{ comment.created_at | date:'d/MM/yy HH:mm'}}</td>
          <td>
            <upso-info-paper-comment [comment]="comment"></upso-info-paper-comment>
            <upso-status-paper-comment [comment]="comment" (updateTable)="updateElement($event)"></upso-status-paper-comment>
          </td>
        </tr>
      </ng-template>
      <ng-template #elseBlock>
        <tr>
          <td class="no-data" colspan="5">No existen comentarios</td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <pagination-controls class="pagination" (pageChange)="currentPage = $event" autoHide="true" responsive="true"
    directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" maxSize="6"></pagination-controls>
</div>
