<div class="container row">
    <div class="col-md-4">
        <upso-investigator></upso-investigator>
    </div>
    <div class="col-md-4">
        <upso-investigator></upso-investigator>
    </div>
    <div class="col-md-4">
        <upso-investigator></upso-investigator>
    </div>
    <div class="col-md-4">
        <upso-investigator></upso-investigator>
    </div>
    <div class="col-md-4">
        <upso-investigator></upso-investigator>
    </div>
    <div class="col-md-4">
        <upso-investigator></upso-investigator>
    </div>
    <div class="col-md-4">
        <upso-investigator-skeleton></upso-investigator-skeleton>
    </div>
</div>

