<div class="card">
    <div class="img">
        <upso-skeleton-loader Cwidth="265" Cheight="265" circle="true"></upso-skeleton-loader>
    </div>
    <div class="titulo">
        <upso-skeleton-loader Cwidth="150" Cheight="23" ></upso-skeleton-loader>
    </div>
    <div class="subtitulo">
        <upso-skeleton-loader Cwidth="170" Cheight="15" ></upso-skeleton-loader>
    </div>
    <div class="descripcion">
        <upso-skeleton-loader Cwidth="300" Cheight="14" ></upso-skeleton-loader>
    </div>
    <div class="descripcion">
        <upso-skeleton-loader Cwidth="300" Cheight="14" ></upso-skeleton-loader>
    </div>
    <div class="descripcion">
        <upso-skeleton-loader Cwidth="300" Cheight="14" ></upso-skeleton-loader>
    </div>
    <div class="descripcion">
        <upso-skeleton-loader Cwidth="300" Cheight="14" ></upso-skeleton-loader>
    </div>
    <div class="container">
        <hr>
        <div class="social">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-link"></i>
            <i class="fab fa-linkedin"></i>
          </div>
    </div>
</div>