.card{
    background-color: #fff;
    height: auto;
    width: auto;
    overflow: hidden;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 9px 17px 45px -29px
                rgba(0, 0, 0, 0.44);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a{
color:rgb(27, 27, 27);
}

.social a:hover{
    color:rgb(92, 92, 92);
}

.social i{
    font-size: 25px;
    margin: 10px;
}
