<div class="card" >
    <img class="card-img-top" [src]="url_storage+'investigators/'+investigator.imagen"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{investigator.nombre}}</h5>
      <h6 class="">{{investigator.titulo}}</h6>
      <p class="card-text">{{(readMore) ? investigator.descripcion : investigator.descripcion | slice:0:40}} <span *ngIf="!readMore">...</span> </p>
      <hr>
      <div class="social">
        <a *ngIf="investigator.cv"[href]="investigator.cv"><i class="fas fa-address-card"></i></a>
        <a *ngIf="investigator.mail" [href]="'mailto:'+investigator.mail"><i class="fas fa-envelope"></i></a>
        <a *ngIf="investigator.pagina" [href]="investigator.pagina"><i class="fas fa-link"></i></a>
        <a  *ngIf="investigator.linkedin"[href]="investigator.linkedin"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <ngbd-modal-component [investigator]="investigator"></ngbd-modal-component>
  </div>

