.card{ 
    background-color: #fff; 
    height: auto; 
    width: auto; 
    overflow: hidden; 
    margin: 12px; 
    border-radius: 5px; 
    box-shadow: 9px 17px 45px -29px
                rgba(0, 0, 0, 0.44); 
} 