.option {
  display: inline-block;
  width: 100%;
}

.option img {
  width: 100%;
}

.option h1 {
  font-size: 19px;
  font-weight: bold;
  color: #111;
  padding-top: 15px;
}

.option p {
   color: #555;
   font-size: 15px;
}
