<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">

        <div class="col-md-5 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <a class="navbar-brand" [routerLink]="['/']">
              <img class="col-12 p-0" src="/assets/img/logos/logo-UPSO.png">
            </a>

            <div class="col-12 data pt-3 pl-0 pr-0">
              <p>Ciudad de Cali 320, Bahía Blanca - Tel: (0291) 4592550</p>
              <p>San Martín 415, Pigüé - Telefax: (02923) 475693 </p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Links</h4>
            <ul class="list-unstyled">
              <li><a [routerLink]="['/']">Inicio</a></li>
              <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
              <li><a [routerLink]="['/proyectos']">Proyectos</a></li>
              <li><a [routerLink]="['/publicaciones']">Publicaciones</a></li>
              <li><a [routerLink]="['/novedades']">Novedades</a></li>
              <li><a [routerLink]="['/contacto']">Contacto</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>De Interés</h4>
            <ul class="list-unstyled">
              <li><a href="#">Website Tutorial</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Webmaster</a></li>
            </ul>
          </div>
        </div>


        <div class="col-md-2 text-center text-md-left mb-4 mb-md-0">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/upsouniversidad" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/upsouniversidad/" class="icoInstagram" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/upsouniversidad/" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2021 - All rights reserved.</p>
        </div>
      </div>


    </div>
  </div>
</footer>
