<div class="container">

  <div *ngIf="loading" class="col-12 loading">
    <span class="d-inline-block text-danger"><i class="fad fa-spinner-third fa-spin fa-7x"></i></span>
    <h3 class="d-inline-block text-danger mt-5">Preparando la descarga</h3>
  </div>

  <div *ngIf="success && !paperDownload.download" class="col-12 success text-center">
    <!-- <span class="d-inline-block text-danger"><i class="fad fa-spinner-third fa-spin fa-7x"></i></span>-->
    <h5 class="d-inline-block text-danger">{{paperDownload.paper.titulo}}</h5>
    <a [href]="url" alter="_blank" [download]="paperDownload.paper.titulo" class="btn btn-lg btn-info mt-5">Descargar</a>
  </div>

  <div *ngIf="success && paperDownload.download" class="col-12 success text-center">
    <h5 class="d-inline-block text-danger">El link de descarga ya fue utilizado</h5>
    <a [routerLink]="['/publicaciones/',paperDownload.paper.id,paperDownload.paper.titulo_url]" class="btn btn-lg btn-secondary mt-5">Ir a la publicación</a>
  </div>

</div>
