

.about{
  background-image: url('/assets/img/textures/bg-white.jpg');
  background-size: 100% auto;
  font-size: 19px;
}

.iconos{
  font-size: 50px;
}

h1{
  color: rgb(33, 59, 59);
  float: left;
  font-family: 'gilroy-ligth', 'Lexend Giga', sans-serif;
  margin-top: 15px;
  text-transform: uppercase;
}



@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {
  .about{
      font-size: 14px;
  }

  .iconos{
      font-size: 35px;
  }
  h1{
      font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}
