<section class="about pt-3 pt-md-5 pb-5 text-center">

  <h1 class="title col-12 text-center scroll-reveal-100 d-inline-block animated fadeInDown">Nosotros</h1>
  <img class="d-inline-block pb-3" src="/assets/img/line-box.png">
  <div class="clearfix"></div>


   <div class="container clearfix pt-2 pt-md-5 pb-3 pb-md-5 text-center">
       <p>
        La Universidad Provincial del Sudoeste (UPSO), es una Institución Universitaria Provincial, reconocida por la Nación Argentina (Decreto 436 del Poder Ejecutivo Nacional), que integra como miembro pleno el Consejo Interuniversitario Nacional (CIN). En la actualidad su oferta curricular se encuentra en proceso de reconocimiento nacional ante la Dirección Nacional de Gestión Universitaria del Ministerio de Educación de la Nación. La UPSO, para la provincia de Buenos Aires, es un Organismo Descentralizado, con autarquía y autonomía, creado por Ley Provincial Nº 11.465, y su modiﬁcatoria Nº 11.523. Su Estatuto fue aprobado por Decreto N°1.139/04 y modiﬁcado mediante Resolución de la Asamblea Universitaria Nº 09/14.
       </p>
       <p>
           Hoy en 2020, ampliamos nuestros canales de venta a redes sociales y mensajería, pero manteniendo siempre el mismo espíritu de dar a cada persona con una atención personalizada.
       </p>
   </div>
   <div class="iconos text-center pb-2 pb-md-4  ">
      <i class="far fa-university ml-4 mr-4"></i>
       <i class="fad fa-book ml-4 mr-4"></i>
       <i class="far fa-file-search ml-4 mr-4"></i>
   </div>
</section>
