
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! Page not found</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>Lo sentimos, pero la página que solicitó no existe</h2>
      <a [routerLink]="['/']" class="btn btn-sm btn-secondary">Volver al inicio</a>
		</div>
	</div>

