<div class="title">
  <div class="container">
    Publicaciones Recientes
  </div>
</div>



<div *ngIf="loading && !papers" class="papers loading text-center">
  <div class="container">

    <div *ngFor="let i of [].constructor(4)" class="d-inline-block skeleton col-12 pl-0 pr-0 mb-5">
      <upso-skeleton-loader class="d-block pb-2" [Cwidth]="100" [type]="'%'" [Cheight]="70"></upso-skeleton-loader>
      <upso-skeleton-loader class="d-block" [Cwidth]="100" [type]="'%'" [Cheight]="20"></upso-skeleton-loader>
    </div>

  </div>
</div>

<div *ngIf="success && papers" class="papers">
  <div class="container">

    <ng-container *ngFor="let paper of papers | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <div class="paper-card col-12 pl-0 pr-0 mb-1 mb-md-3">
        <upso-paper-card [paper]="paper"></upso-paper-card>
      </div>
    </ng-container>

    <div class="col-12 text-center">
      <pagination-controls class="pagination d-inline-block pt-3" (pageChange)="currentPage = $event" autoHide="true"
        responsive="true" directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" maxSize="6">
      </pagination-controls>
    </div>

  </div>
</div>
