.newness {
  display: inline-block;
  width  : 100%;
}

.newness a {
  color     : #107eab;
  text-decoration: none;
}

.newness .image {
  width   : 100%;
  position: relative;
  background-position: center;
  background-size: auto 120% ;
  min-height: 20vh;
  transition: 0.2s linear;
}

.newness .image:hover {
  background-size: auto 140% ;
  transition: 0.5s;
}

.newness .image img {
  display: inline-block;
  width  : 100%;
}


.newness .image .date {
  background-color: rgba(0, 0, 0, 0.4);
  bottom          : 0;
  color           : rgba(221, 221, 221, 1);
  display         : inline-block;
  font-size       : 13px;
  font-weight     : 500;
  left            : 0;
  margin-top      : 10px;
  padding         : 2px 8px;
  position        : absolute;
  text-align      : left;
  text-transform  : uppercase;
  width           : 100%;
}

.newness h1 {
  color      : #111;
  font-family: 'Montserrat', cursive;
  font-size  : 18.5px;
  font-weight: bold;
  padding-top: 13px;
}

.newness h1:hover {
  color     : #107eab;
  transition: 0.5s;
}

.newness p {
  color      : #555;
  font-size  : 14.5px;
  line-height: 18.5px;
}
