<div class="container options">
  <div class="col-md-4">
    <upso-option
      [title]="'Proyectos'"
      [text]="'¡Eche un vistazo más de cerca a nuestros proyectos! Aquí encontrará información sobre nuestros proyectos actuales y pasados.'"
      [img]="'/assets/img/options/1.jpg'"
      [url] = "'/proyectos'"
    ></upso-option>
  </div>
  <div class="col-md-4">
    <upso-option
      [title]="'Investigadores'"
      [text]="'¡Conoce a nuestra gente! Aquí encontrará investigadores principales, investigadores, estudiantes de doctorado y asistentes de investigación de pregrado.'"
      [img]="'/assets/img/options/2.jpg'"
      [url] = "'/investigadores'"
    ></upso-option>
  </div>
  <div class="col-md-4">
    <upso-option
      [title]="'Publicaciones'"
      [text]="'Aquí encontrará las publicaciones de los grupos de investigación de Investigacion Group'"
      [img]="'/assets/img/options/3.jpg'"
      [url] = "'/publicaciones'"
    ></upso-option>
  </div>
</div>
