<div class="div-tabla table-responsive">
  <input class="filtro" type="text" placeholder="filtro" (input)="filtrar($event)"
    placeholder="Filtrar por nombre..." />

  <upso-form-user [title]="'Crear usuario'" [users]="users" (updateList)="users_filter = $event"></upso-form-user>

  <table class="table table-hover fixed text-center">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">E-mail</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="users.length > 0; then thenBlock; else elseBlock"></div>

      <ng-template #thenBlock>
        <tr *ngFor=" let user of users_filter  ">
          <!-- | paginate: { itemsPerPage: cant_por_pag, currentPage: pag } -->
          <td>{{ user.nombre }}</td>
          <td>{{ user.email }}</td>
          <td>
            <upso-form-user [title]="'Editar usuario'" [user]="user" [users]="users" (updateList)="users_filter = $event"></upso-form-user>
            <upso-delete-user [user]="user" [users]="users" (updateList)="users_filter = $event"></upso-delete-user>
          </td>
        </tr>
      </ng-template>
      <ng-template #elseBlock>
        <tr>
          <td class="no-data" colspan="5">No existen usuarios</td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <!-- <pagination-controls class="pagination" (pageChange)="pag = $event" autoHide="true" responsive="true"
    directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" maxSize="6"></pagination-controls> -->
</div>
