@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.card {
  border: 1px solid #eff3f5 !important;
  border-left     : 3px solid #0099d081 !important;
  border-radius   : .2rem .5rem .5rem .2rem;
  width           : 100%;
  flex-direction  : row !important;
  justify-content : flex-start !important;
  align-items     : center !important;
  margin-bottom   : 10px;
  padding         : 10px 20px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.card-img-top {
  $altura      : 2.5rem;
  width        : $altura;
  height       : $altura;
  border-radius: 50%;
}

.card .body .title {
  font-size    : 17px;
  font-weight  : normal;
  margin-bottom: 5px !important;
}
